<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[ name ]]</title>
    {% include "requires.html" %}

</head>

<body>
    <div id='app' class="container-lg">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <b-navbar toggleable="md" type="dark" variant="info">
                    <b-navbar-brand href="#">
                        <b-img rounded src="/favicon.ico" alt="logo" height='10px' style="height: 26px"></b-img><small class="text-muted">[[ version ]]</small>
                    </b-navbar-brand>
                    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                    <b-collapse id="nav-collapse" is-nav>
                        <b-navbar-nav>
                            <b-nav-item href="#">
                                <b-a href="#" v-b-modal.modal-link><b-icon icon="upc-scan"></b-icon> {{I18N.t('scanLink')}}</b-a>
                            </b-nav-item>
                        </b-navbar-nav>

                        <!-- Right aligned nav items -->
                        <b-navbar-nav class="ml-auto">
                            <b-nav-form right>
                                <b-form-input size="sm" class="mr-sm-2" :placeholder="I18N.t('pleaseInput')"
                                    v-model="searchPartern" list='searchHistory' @click='refreshSearchHistory'>
                                </b-form-input>
                                <datalist id="searchHistory"><option v-for="item in searchHistory">{{item}}</option></datalist>
                                <b-button size="sm" class="my-12 my-sm-0" type="button" v-on:click="search()">{{I18N.t('search')}}</b-button>
                            </b-nav-form>

                            <b-nav-item-dropdown :text="I18N.t('lang')" right>
                                <b-dropdown-item href="#" v-on:click="setDisplayLang('en')">{{I18N.t('en')}}</b-dropdown-item>
                                <b-dropdown-item href="#" v-on:click="setDisplayLang('zh-CN')">{{I18N.t('zh-CN')}}</b-dropdown-item>
                            </b-nav-item-dropdown>

                            <b-nav-item-dropdown right>
                                <template #button-content><em> <b-icon icon="person-fill"></b-icon> [[ username ]]</em></template>
                                <b-dropdown-item href="#" v-b-modal.modal-setting>
                                    <b-icon icon="gear-fill"></b-icon> {{I18N.t('setting')}}</b-dropdown-item>
                                <b-dropdown-item href="#"><b-icon icon="power"></b-icon> {{I18N.t('signOut')}}</b-dropdown-item>
                            </b-nav-item-dropdown>
                        </b-navbar-nav>
                    </b-collapse>
                </b-navbar>
            </div>
            <div class="col-lg-9 col-sm-9" style="margin-top: 10px;">
                <label for="inputUploadFile"
                    class="btn btn-sm btn-outline-secondary">{{I18N.t('uploadFiles')}}</label>
                <label for="inputUploadDir" class="btn btn-sm btn-outline-secondary">{{I18N.t('uploadDir')}}</label>
                <label type="button" class="btn btn-sm btn-outline-secondary" v-b-modal.modal-newdir>{{I18N.t('newDir')}}</label>
                <label type="button" class="btn btn-sm btn-outline-secondary" v-on:click="refreshDir()" v-b-tooltip.hover :title="I18N.t('refresh')">
                    <b-icon icon="arrow-repeat"></b-icon></label>
                <label>
                    <b-icon icon="hdd-fill" variant="secondary"></b-icon> {{getDiskUsage()}}
                    <b-progress :max="diskUsage.total" variant="secondary" style="height: 4px;">
                        <b-progress-bar :value="diskUsage.used"> </b-progress-bar>
                    </b-progress>
                </label>

                <form id="formFileUpload">
                    <input type="file" name="file" class="custom-file-input" id="inputUploadFile" required hidden
                        multiple v-on:change="uploadFile()">
                </form>
                <form id="formDirUpload">
                    <input type="file" name="file" id="inputUploadDir" webkitdirectory="" hidden required
                        v-on:change="uploadDir()">
                </form>
            </div>

            <div class="col-lg-2  col-sm-3" style="margin-top: 10px;">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" v-model="showAll" id="showAll"
                        v-on:click="toggleShowAll()">
                    <label class="custom-control-label" for="showAll">{{I18N.t('displayAll')}}</label>
                </div>
            </div>
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" v-on:click="goTo(-1)">
                                <b-icon icon="house-door-fill"></b-icon>
                            </a></li>
                        <li class="breadcrumb-item active" v-for="(item, index) in pathItems">
                            <a href="#" v-on:click="goTo(index)" v-if="index < pathItems.length -1">{{item.text}}</a>
                            <span v-else>{{item.text}}</span>
                        </li>
                    </ol>
                </nav>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <table class="table table-hover table-sm " style="width: 100%;">
                    <thead class="table-light">
                        <tr>
                            <th>{{I18N.t('file')}} <b-icon icon="sort-alpha-down"></b-icon></th>
                            <th>{{I18N.t('size')}} </th>
                            <th>{{I18N.t('modifyTime')}}</th>
                            <th>{{I18N.t('operation')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in children" v-model="children">
                            <td v-if='item.type=="folder"' v-on:click="clickPath(item)">
                                <b-icon icon="folder-fill" variant="warning"></b-icon> {{item.name}}
                                <p v-if='showPardir==true'><small class="text-muted">{{item.pardir}}</small>
                                </p>
                            </td>
                            <td v-else>
                                <b-icon icon="file-earmark-fill"></b-icon>
                                <a :href="getFSUrl(item)" target="_blank"> {{item.name}}</a>
                                <p v-if='showPardir==true'><small class="text-muted">{{item.pardir}}</small>
                                </p>
                            </td>
                            <td>{{item.size}}</td>
                            <td style="width: 120px">
                                <span style="font-size: small;">{{item.modify_time}}</span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger" v-on:click="makeSureDelete(item)" v-b-tooltip.hover :title="I18N.t('delete')">
                                    <b-icon icon="trash"></b-icon>
                                </button>
                                <b-button class="btn btn-sm btn-warning" v-on:click="showRenameModal(item)"
                                    v-b-modal.modal-rename v-b-tooltip.hover :title="I18N.t('rename')">
                                    <b-icon icon="vr"></b-icon>
                                </b-button>
                                
                                <b-button class="btn btn-sm btn-info" v-if="item.editable==true"
                                    v-on:click="showFileModal(item)" v-b-modal.modal-file v-b-tooltip.hover
                                    :title="I18N.t('view')">
                                    <b-icon icon="eye"></b-icon>
                                </b-button>
                                <b-button class="btn btn-sm btn-info" v-on:click="setFileQrcode(item)" v-if="item.type!='folder'"
                                    v-b-modal.modal-filelink v-b-tooltip.hover :title="I18N.t('displayQRCode')">
                                    <b-icon icon="upc-scan"></b-icon>
                                </b-button>
                                <a class="btn btn-sm btn-info" :href="getDownloadUrl(item)" v-b-tooltip.hover :title="I18N.t('download')">
                                    <b-icon icon="download"></b-icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Modal link -->
                <b-modal id="modal-link" :title="I18N.t('scanUsePhoneBrower')" header-bg-variant="dark"
                    header-text-variant="light" @shown="refreshConnectionLink()"  hide-footer>
                    <div class="modal-body middle">
                        <div id='connectionLink' style="width: 50%; margin: 0 auto"></div> </div>
                </b-modal>
                <!-- Modal qrcode -->
                <b-modal id="modal-filelink" :title="downloadFile.name" @shown="showFileQrcode()"  hide-footer>
                    <div id='fileQrcode' style="width: 50%; margin: 0 auto "></div>
                </b-modal>
                <!-- Modal rename -->
                <b-modal id="modal-rename" :title="I18N.t('rename')" @ok="renameDir()" >
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">{{I18N.t('filename')}}</label>
                        <b-form-input class="form-control" :value="renameItem.name" disabled></b-form-input>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">{{I18N.t('newFileName')}}</label>
                        <b-form-input class="form-control" v-model="renameItem.newName" required></b-form-input>
                    </div>
                    <template #modal-footer>
                        <b-button block variant="primary" v-on:click="renameDir()">{{I18N.t('rename')}}</b-button>
                    </template>
                </b-modal>
                <!-- Modal new Dir -->
                <b-modal id="modal-newdir" :title="I18N.t('newDir')">
                    <b-form-input :state="newDir.validate" v-model="newDir.name" :placeholder="I18N.t('pleaseInputFileName')" v-on:input="checkIsDirInvalid()"></b-form-input>
                    <b-icon variant='info' icon='exclamation-circle-fill'></b-icon> {{I18N.t('createDirsTips')}}
                    <template #modal-footer>
                        <b-button block variant="primary" v-on:click="createDir()">{{I18N.t('createNewDir')}}</b-button>
                    </template>
                </b-modal>
                <!-- Modal setting -->
                <b-modal id="modal-setting" :title="I18N.t('setting')">
                    <h5>UI</h5>
                        {{I18N.t('pbrHeight')}}: {{conf.pbarHeight.current}}px
                    <label for="range-1"></label>
                    <b-form-input v-model="conf.pbarHeight.current" type="range" 
                        :min="conf.pbarHeight.min" :max="conf.pbarHeight.max"></b-form-input>
                    <template #modal-footer>
                        <b-button variant="primary" v-on:click="saveSettings()">{{I18N.t('save')}}</b-button>
                    </template>
                </b-modal>
                <!-- Modal file content -->
                <b-modal id="modal-file" size="lg" :title="fileEditor.name"  hide-footer>
                    <textarea class="form-control" v-model="fileEditor.content" cols="30" rows="20"></textarea>
                </b-modal>
                <!-- Sidebar upload progress -->
                <b-sidebar id="sidebar-upload" :title="I18N.t('fileUploadProgress')" backdrop-variant="dark" backdrop shadow >
                    <div class="px-3 py-2">
                        <div v-for="(item, index) in uploadQueue.tasks">
                            <b-badge pill variant="info" v-b-modal.modal-upload>{{((item.loaded / item.total) * 100).toFixed(2)}}%</b-badge>
                            {{item.file}}
                            <b-progress :max="item.total" variant="info" class="mb-3" :height="conf.pbarHeight.current + 'px'" animated>
                                <b-progress-bar :value="item.loaded"></b-progress-bar>
                            </b-progress>
                            <hr/>
                        </div>
                    </div>
                </b-sidebar>
            </div>
        </div>

        <b-button pill variant="warning" class="nav-link position-fixed" style="z-index: 100; bottom: 10px; right: 10px" v-b-toggle.sidebar-upload >
            <b-icon icon="cloud-upload-fill" :animation="uploadQueue.completed < uploadQueue.tasks.length ? 'fade': ''" ></b-icon>
            {{uploadQueue.completed}}/{{uploadQueue.tasks.length}}
        </b-button>
    </div>
    <script type="module" src="/static/app.js"></script>
</body>

</html>