<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/favicon.ico">
        <script type="javascript"></script>

        {% include "requires.html" %}

    </head>
    <body>
        <div id='app' class="container">
            <div class="row justify-content-md-center" >
                <div class="col-lg-5 col-md-10 col-sm-12 " style="text-align: center;">
                    <b-card bg-variant="light" :header="I18N.t('accountSignIn')" class="text-center" >
                        <div class="form-group">
                            <b-form-input :placeholder="I18N.t('pleaseInputUsername')" v-model="auth.username" ></b-form-input>
                        </div>
                        <div class="form-group">
                            <b-form-input :placeholder="I18N.t('pleaseInputPassword')" v-model="auth.password" type="password"></b-form-input>
                        </div>
                        <div class="text-right">
                            <b-link href="#" v-on:click="setDisplayLang('en')">{{I18N.t('en')}}</b-link>/
                            <b-link href="#" v-on:click="setDisplayLang('zh')">{{I18N.t('zh')}}</b-link>
                        </div>
                        
                        <template #footer>
                            <b-button block variant="primary" v-on:click="login">{{I18N.t('signIn')}}</b-button>
                          </template>
                    </b-card>
                </div>
            </div>
        </div>
    </body>

    <script type="module" src="/static/login.js"> </script>
</html>