<!-- Vue -->
<script type="text/javascript" src="/static/vue/vue.min.js"></script>
<script type="text/javascript" src="/static/vue/vue-i18n.js"></script>
<!-- bootstrap css -->
<link rel="stylesheet" href="/static/bootstrap-4.6.0/css/bootstrap.min.css">
<!-- bootstrap-vue  -->
<link rel="stylesheet" href="/static/bootstrap-vue/bootstrap-vue.min.css">
<script type="application/javascript" src="/static/bootstrap-vue/bootstrap-vue.min.js"></script>
<script type="application/javascript" src="/static/bootstrap-vue/bootstrap-vue-icons.min.js"></script>
<!-- qrcode -->
<script src="/static/qrcode.js"></script>

<!-- axios -->
<script src="/static/axios.min.js"></script>

<script type="text/javascript" src="/static/i18n.js"></script>
<script type="text/javascript" src="/static/lib.js"></script>
